# Build directories
build/
Debug/
Release/
third_party/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env

# VSCode
.vscode/*
!.vscode/project-settings.json

# IDE
.vs/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
